<!--
// SPDX-FileCopyrightText: 2021 Shulhan <ms@kilabit.info>
// SPDX-License-Identifier: GPL-3.0-or-later
--!>
<!DOCTYPE>
<html>
<head><title>{{.Title}}</title></head>
<body>{{.Body}}</body>
</html>
